@charset "utf-8";

/* Erase the circle before the list */
ul {
  list-style:none;
}

/* Link Button */

.square_btn{
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.5em 1em;
    text-decoration: none;
    border-left: solid 4px #668ad8;
    border-right: solid 4px #668ad8;
    color: #668ad8;
    background: #e1f3ff;
    transition: .4s;
}


.square_btn:hover {
    background: #668ad8;
    color: #FFF;
}

/* Wrap buttons when the screen is narrow */
.fl_tw {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  color: #1da1f3;
  font-size: 25px;
  text-decoration: none;
  }

.fl_tw:hover {
  color:#88daff;
  transition: .5s;
}

/* Twitter */
.fl_tw .twicon{
  border-radius: 10px;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 35px;
  line-height: 50px;
  vertical-align: middle;
  color: #FFF;
  background: #1da1f3;
}

.fl_tw .twicon .fa {
  line-height: 50px;
}

/* ? */
ul {
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
}

/* shrink image when the screen is narrow */
img {
     max-width: 100%;
}

/* indent for class="indentback" */
p.indentback{
  text-indent: -1em;
  padding-left: 2em;
}
